@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

body{
    font-family: 'Akaya Kanadaka', cursive;

    background-image:linear-gradient(to bottom, hsl(268, 73%, 75%) 0%, hsl(234, 73%, 75%) 20%, hsl(192, 73%, 75%) 50%,hsl(234, 73%, 75%) 80%, hsl(268, 73%, 75%) 100%); ;
}

main{
    text-align: center;
    animation: mainAnimation 2s;
}

@keyframes mainAnimation{
    from{
        transform: scale(2) translateX(-50%) rotate(180deg);
    }
    to{
        transform: scale(100%) translateX(0) rotate(0);
    }
}

img{
    border-radius: 20%;
    width: 40%;
    transition: all 0.5s ease-in-out;
    animation: imageRotate 2s ;
}

@keyframes imageRotate {
    0%{
        transform: rotate(0deg) scale(0);
    }
    50%{
        transform: rotate(360deg) scale(0.5);
    }
    100%{
        transform: rotate(0deg) scale(1);
    }
}

img:hover{
    filter: drop-shadow(16px 16px 20px #f700ff) invert(100%);
    transform: scale(0.7) skewy(20deg);
    
}

p::after{
    content: ' são só amor!';
    color: white;
}

.container{
    padding: 0% 30%;
}

legend{
    text-align: left;
}

input[type="email"], input[type="text"]{
    padding: 1%;
    margin-bottom: 10px;
    width: 83.3%;
}

input, textarea, select{
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.inputGroup:hover input, textarea:hover, select:hover{
    background-color: hsl(268, 80%, 90%);
    filter: drop-shadow(16px 16px 20px hsl(276, 100%, 50%));
    transform: scale(0.7) skewy(-30deg) skewx(20deg);
}

input:focus, textarea:focus{
    transform: scale(1.1);
    background-color: hsl(152, 80%, 90%);
}

textarea{
    margin-bottom: 10px;
    width: 85%;
}

fieldset {
    background-color: hsla(0, 0%, 100%, 0.40);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    transition: 1s ease-in-out;    
}

.pag{
    transition: transform 2s ease-in-out;
}

.pagCont:hover .pag{
    transform: scale(1.1) rotate(180deg); 
}

fieldset:nth-child(1) label{
    display: block;
}


.qtd {
    margin-left: 1rem;
}

#quantidade{
    width: 2.5rem;
}

button{
    padding: 1%;
    color: white;
    font-family: 'Akaya Kanadaka', cursive;
    border: 2px solid transparent;
    width: 6rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin: 0.5rem;
    
}

.pedir {
    background-color: hsl(187, 80%, 41%);
}

.pedir:hover{
    filter: drop-shadow(16px 16px 20px #00ff22);
    transform: scale(0.7) skewy(20deg);    
}

.cancelar {
    background-color: hsl(0, 60%, 41%);
}

.cancelar:hover{
    filter: drop-shadow(16px 16px 20px #f700ff);
    transform: scale(0.7) skewy(-20deg);       
}

